/***************************************/
/*GT Eesti*/
/**************************************/

@font-face {
  font-family: 'gilroy-bold';
  src: asset-url('gilroy/bold/gilroy-bold.woff2') format('woff2'),
       asset-url('gilroy/bold/gilroy-bold.woff') format('woff'),
       asset-url('gilroy/bold/gilroy-bold.ttf') format('truetype'),
       asset-url('gilroy/bold/gilroy-bold.svg#gilroy-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunitosans-regular';
  src: asset-url('nunito/regular/nunitosans-regular.woff2') format('woff2'),
       asset-url('nunito/regular/nunitosans-regular.woff') format('woff'),
       asset-url('nunito/regular/nunitosans-regular.ttf') format('truetype'),
       asset-url('nunito/regular/nunitosans-regular.svg#nunitosans-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nunitosans-bold';
  src: asset-url('nunito/bold/nunitosans-bold.woff2') format('woff2'),
       asset-url('nunito/bold/nunitosans-bold.woff') format('woff'),
       asset-url('nunito/bold/nunitosans-bold.ttf') format('truetype'),
       asset-url('nunito/bold/nunitosans-bold.svg#nunitosans-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**************************************/

@font-face {
    font-family: 'gt-eesti-light';
    src: asset-url('GT-Eesti/Light/GTEestiDisplay-Light.eot');
    src: asset-url('GT-Eesti/Light/GTEestiDisplay-Light.eot?#iefix') format('embedded-opentype'),
         asset-url('GT-Eesti/Light/GTEestiDisplay-Light.woff') format('woff'),
         asset-url('GT-Eesti/Light/GTEestiDisplay-Light.woff2') format('woff2'),
         asset-url('GT-Eesti/Light/GTEestiDisplay-Light.ttf') format('truetype'),
         asset-url('GT-Eesti/Light/GTEestiDisplay-Light.svg#GTEestiDisplay-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt-eesti-regular';
    src: asset-url('GT-Eesti/Regular/GTEestiDisplay-Regular.eot');
    src: asset-url('GT-Eesti/Regular/GTEestiDisplay-Regular.eot?#iefix') format('embedded-opentype'),
         asset-url('GT-Eesti/Regular/GTEestiDisplay-Regular.woff') format('woff'),
         asset-url('GT-Eesti/Regular/GTEestiDisplay-Regular.woff2') format('woff2'),
         asset-url('GT-Eesti/Regular/GTEestiDisplay-Regular.ttf') format('truetype'),
         asset-url('GT-Eesti/Regular/GTEestiDisplay-Regular.svg#GTEestiDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt-eesti-medium';
    src: asset-url('GT-Eesti/Medium/GTEestiDisplay-Medium.eot');
    src: asset-url('GT-Eesti/Medium/GTEestiDisplay-Medium.eot?#iefix') format('embedded-opentype'),
         asset-url('GT-Eesti/Medium/GTEestiDisplay-Medium.woff') format('woff'),
         asset-url('GT-Eesti/Medium/GTEestiDisplay-Medium.woff2') format('woff2'),
         asset-url('GT-Eesti/Medium/GTEestiDisplay-Medium.ttf') format('truetype'),
         asset-url('GT-Eesti/Medium/GTEestiDisplay-Medium.svg#GTEestiDisplay-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt-eesti-bold';
    src: asset-url('GT-Eesti/Bold/GTEestiDisplay-Bold.eot');
    src: asset-url('GT-Eesti/Bold/GTEestiDisplay-Bold.eot?#iefix') format('embedded-opentype'),
         asset-url('GT-Eesti/Bold/GTEestiDisplay-Bold.woff') format('woff'),
         asset-url('GT-Eesti/Bold/GTEestiDisplay-Bold.woff2') format('woff2'),
         asset-url('GT-Eesti/Bold/GTEestiDisplay-Bold.ttf') format('truetype'),
         asset-url('GT-Eesti/Bold/GTEestiDisplay-Bold.svg#GTEestiDisplay-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***************************************/
/*HK Grotesk*/
/**************************************/
@font-face {
    font-family: 'hk-grotesk-light';
    src: asset-url('HK-Grotesk/Light/HKGrotesk-Light.eot');
    src: asset-url('HK-Grotesk/Light/HKGrotesk-Light.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Light/HKGrotesk-Light.woff') format('woff'),
         asset-url('HK-Grotesk/Light/HKGrotesk-Light.woff2') format('woff2'),
         asset-url('HK-Grotesk/Light/HKGrotesk-Light.ttf') format('truetype'),
         asset-url('HK-Grotesk/Light/HKGrotesk-Light.svg#HKGrotesk-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-light-italic';
    src: asset-url('HK-Grotesk/Light-Italic/HKGrotesk-LightItalic.eot');
    src: asset-url('HK-Grotesk/Light-Italic/HKGrotesk-LightItalic.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Light-Italic/HKGrotesk-LightItalic.woff') format('woff'),
         asset-url('HK-Grotesk/Light-Italic/HKGrotesk-LightItalic.woff2') format('woff2'),
         asset-url('HK-Grotesk/Light-Italic/HKGrotesk-LightItalic.ttf') format('truetype'),
         asset-url('HK-Grotesk/Light-Italic/HKGrotesk-LightItalic.svg#HKGrotesk-LightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-regular';
    src: asset-url('HK-Grotesk/Regular/HKGrotesk-Regular.eot');
    src: asset-url('HK-Grotesk/Regular/HKGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Regular/HKGrotesk-Regular.woff') format('woff'),
         asset-url('HK-Grotesk/Regular/HKGrotesk-Regular.woff2') format('woff2'),
         asset-url('HK-Grotesk/Regular/HKGrotesk-Regular.ttf') format('truetype'),
         asset-url('HK-Grotesk/Regular/HKGrotesk-Regular.svg#HKGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-italic';
    src: asset-url('HK-Grotesk/Italic/HKGrotesk-Italic.eot');
    src: asset-url('HK-Grotesk/Italic/HKGrotesk-Italic.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Italic/HKGrotesk-Italic.woff') format('woff'),
         asset-url('HK-Grotesk/Italic/HKGrotesk-Italic.woff2') format('woff2'),
         asset-url('HK-Grotesk/Italic/HKGrotesk-Italic.ttf') format('truetype'),
         asset-url('HK-Grotesk/Italic/HKGrotesk-Italic.svg#HKGrotesk-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-medium';
    src: asset-url('HK-Grotesk/Medium/HKGrotesk-Medium.eot');
    src: asset-url('HK-Grotesk/Medium/HKGrotesk-Medium.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Medium/HKGrotesk-Medium.woff') format('woff'),
         asset-url('HK-Grotesk/Medium/HKGrotesk-Medium.woff2') format('woff2'),
         asset-url('HK-Grotesk/Medium/HKGrotesk-Medium.ttf') format('truetype'),
         asset-url('HK-Grotesk/Medium/HKGrotesk-Medium.svg#HKGrotesk-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-medium-italic';
    src: asset-url('HK-Grotesk/Medium-Italic/HKGrotesk-MediumItalic.eot');
    src: asset-url('HK-Grotesk/Medium-Italic/HKGrotesk-MediumItalic.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Medium-Italic/HKGrotesk-MediumItalic.woff') format('woff'),
         asset-url('HK-Grotesk/Medium-Italic/HKGrotesk-MediumItalic.woff2') format('woff2'),
         asset-url('HK-Grotesk/Medium-Italic/HKGrotesk-MediumItalic.ttf') format('truetype'),
         asset-url('HK-Grotesk/Medium-Italic/HKGrotesk-MediumItalic.svg#HKGrotesk-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-semibold';
    src: asset-url('HK-Grotesk/SemiBold/HKGrotesk-SemiBold.eot');
    src: asset-url('HK-Grotesk/SemiBold/HKGrotesk-SemiBold.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/SemiBold/HKGrotesk-SemiBold.woff') format('woff'),
         asset-url('HK-Grotesk/SemiBold/HKGrotesk-SemiBold.woff2') format('woff2'),
         asset-url('HK-Grotesk/SemiBold/HKGrotesk-SemiBold.ttf') format('truetype'),
         asset-url('HK-Grotesk/SemiBold/HKGrotesk-SemiBold.svg#HKGrotesk-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-semibold-italic';
    src: asset-url('HK-Grotesk/SemiBold-Italic/HKGrotesk-SemiBoldItalic.eot');
    src: asset-url('HK-Grotesk/SemiBold-Italic/HKGrotesk-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/SemiBold-Italic/HKGrotesk-SemiBoldItalic.woff') format('woff'),
         asset-url('HK-Grotesk/SemiBold-Italic/HKGrotesk-SemiBoldItalic.woff2') format('woff2'),
         asset-url('HK-Grotesk/SemiBold-Italic/HKGrotesk-SemiBoldItalic.ttf') format('truetype'),
         asset-url('HK-Grotesk/SemiBold-Italic/HKGrotesk-SemiBoldItalic.svg#HKGrotesk-SemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-bold';
    src: asset-url('HK-Grotesk/Bold/HKGrotesk-Bold.eot');
    src: asset-url('HK-Grotesk/Bold/HKGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Bold/HKGrotesk-Bold.woff') format('woff'),
         asset-url('HK-Grotesk/Bold/HKGrotesk-Bold.woff2') format('woff2'),
         asset-url('HK-Grotesk/Bold/HKGrotesk-Bold.ttf') format('truetype'),
         asset-url('HK-Grotesk/Bold/HKGrotesk-Bold.svg#HKGrotesk-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-bold-italic';
    src: asset-url('HK-Grotesk/Bold-Italic/HKGrotesk-BoldItalic.eot');
    src: asset-url('HK-Grotesk/Bold-Italic/HKGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Bold-Italic/HKGrotesk-BoldItalic.woff') format('woff'),
         asset-url('HK-Grotesk/Bold-Italic/HKGrotesk-BoldItalic.woff2') format('woff2'),
         asset-url('HK-Grotesk/Bold-Italic/HKGrotesk-BoldItalic.ttf') format('truetype'),
         asset-url('HK-Grotesk/Bold-Italic/HKGrotesk-BoldItalic.svg#HKGrotesk-BoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hk-grotesk-black';
    src: asset-url('HK-Grotesk/Black/HKGrotesk-Black.eot');
    src: asset-url('HK-Grotesk/Black/HKGrotesk-Black.eot?#iefix') format('embedded-opentype'),
         asset-url('HK-Grotesk/Black/HKGrotesk-Black.woff') format('woff'),
         asset-url('HK-Grotesk/Black/HKGrotesk-Black.woff2') format('woff2'),
         asset-url('HK-Grotesk/Black/HKGrotesk-Black.ttf') format('truetype'),
         asset-url('HK-Grotesk/Black/HKGrotesk-Black.svg#HKGrotesk-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}


@charset "UTF-8";

@font-face {
  font-family: "welcome";
  src:asset-url("welcome/welcome.eot");
  src:asset-url("welcome/welcome.eot?#iefix") format("embedded-opentype"),
    asset-url("welcome/welcome.woff") format("woff"),
    asset-url("welcome/welcome.ttf") format("truetype"),
    asset-url("welcome/welcome.svg#welcome") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "welcome" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "welcome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bathtub-filled:before {
  content: "\61";
}
.icon-bathtub-outline:before {
  content: "\62";
}
.icon-bed-filled:before {
  content: "\63";
}
.icon-bed-outline:before {
  content: "\64";
}
.icon-bed-single-3-filled:before {
  content: "\65";
}
.icon-bed-single-3-outline:before {
  content: "\66";
}
.icon-bed-single-4-filled:before {
  content: "\67";
}
.icon-bed-single-4-outline:before {
  content: "\68";
}
.icon-bed-single-filled:before {
  content: "\69";
}
.icon-bed-single-outline:before {
  content: "\6a";
}
.icon-couch-filled:before {
  content: "\6b";
}
.icon-couch-outline:before {
  content: "\6c";
}
.icon-floorplan-filled:before {
  content: "\6f";
}
.icon-floorplan-outline:before {
  content: "\70";
}
.icon-house-filled:before {
  content: "\71";
}
.icon-house-outline:before {
  content: "\72";
}
.icon-refrigerator-filled:before {
  content: "\73";
}
.icon-refrigerator-outline:before {
  content: "\74";
}
.icon-shower-filled:before {
  content: "\75";
}
.icon-shower-outline:before {
  content: "\76";
}
.icon-sink-filled:before {
  content: "\77";
}
.icon-sink-outline:before {
  content: "\78";
}
.icon-toilet-filled:before {
  content: "\79";
}
.icon-toilet-outline:before {
  content: "\7a";
}
.icon-desk-phone-outline:before {
  content: "\6d";
}
.icon-washer-filled:before {
  content: "\6e";
}
.icon-washer-outline:before {
  content: "\41";
}
.icon-desk-phone-filled:before {
  content: "\42";
}
.icon-welcome-icon:before {
  content: "\43";
}
.icon-right-open-big:before {
  content: "\44";
}
.icon-right-open:before {
  content: "\45";
}
.icon-left-open-big:before {
  content: "\47";
}
.icon-left-open:before {
  content: "\48";
}
.icon-check-circle-2:before {
  content: "\46";
}
.icon-checkmark-circled:before {
  content: "\49";
}
.icon-map-pin-streamline:before {
  content: "\4a";
}
.icon-down-open-big:before {
  content: "\4b";
}
.icon-down-open:before {
  content: "\4c";
}
.icon-up-open-big:before {
  content: "\4d";
}
.icon-up-open:before {
  content: "\4e";
}
.icon-cross:before {
  content: "\4f";
}
.icon-android-add:before {
  content: "\50";
}
.icon-android-options:before {
  content: "\51";
}
.icon-close-circled:before {
  content: "\52";
}
.icon-search:before {
  content: "\53";
}
.icon-navicon:before {
  content: "\55";
}
.icon-facebook:before {
  content: "\56";
}
.icon-social-twitter:before {
  content: "\57";
}
.icon-instagram-logo:before {
  content: "\58";
}
.icon-hud:before {
  content: "\59";
}
.icon-arrow-left:before {
  content: "\54";
}
.icon-arrow-right:before {
  content: "\5a";
}
.icon-user-1:before {
  content: "\30";
}
.icon-ios-calendar-outline:before {
  content: "\31";
}
.icon-share:before {
  content: "\32";
}
.icon-ios-upload-outline:before {
  content: "\33";
}
.icon-ios-upload:before {
  content: "\34";
}
.icon-linkedin:before {
  content: "\35";
}
.icon-blogger:before {
  content: "\36";
}
.icon-help-circled:before {
  content: "\37";
}
.icon-ghosticon:before {
  content: "\38";
}
.icon-star:before {
  content: "\39";
}
.icon-star-half-o:before {
  content: "\21";
}
.icon-star-o:before {
  content: "\22";
}
.icon-pin-map:before {
  content: "\23";
}
.icon-list-bullet:before {
  content: "\24";
}
.icon-grid:before {
  content: "\25";
}
.icon-layout:before {
  content: "\26";
}
.icon-arrow-right-1:before {
  content: "\27";
}
.icon-arrow-down:before {
  content: "\28";
}
.icon-info:before {
  content: "\29";
}
.icon-lock-locker-streamline:before {
  content: "\2a";
}
