// Variables
// Welcome UI - Navbar

.navbar-ui {
  border-bottom: 1px solid $ui_lightergray;
}
.navbar-ui .nav-link {
  color: $ui_back;
  font-size: $ui_font_small;
  font-family: 'hk-grotesk-semibold';
}
