// Variables
// Welcome UI - Tables

.view-header {
  border-bottom: 1px solid $ui_lightgray;
  margin-bottom: 15px;
  width: 100%;
  padding: 15px 0;
}
.land-app .view-header {
  border-bottom: 1px solid $ui_lightgray;
  /*background-color: $ui_middlegray;*/
  margin-bottom: 15px;
  width: 100%;
  padding: 15px 0 15px 10px;
}
.view-header .btn.btn-group {
  display: contents;
}
.view-header .ui-btn:hover {
  color: $ui_white;
}
.dropdown-menu {
  padding: 0;
}

.land-app .header-fixed {
  display: block;
  /*position: fixed;*/
  height: 130px;
  margin-top: -22px;
  /*background-color: #f2f2f2;*/
  /*margin-left: -15px;*/
  width: 100%;
  max-width: 100%;
  z-index: 2;
  border-bottom: none !important;
  margin-left: -14px;
}
.header-fixed .row-title {
  margin-bottom: 5px;
  margin-left: -14px;
}
.land-app .header-fixed hr {
  margin-top: 0px;
}
.land-app .header-fixed-box {
  position: fixed;
  background-color: #f2f2f2;
  top: 20px;
  padding-right: 18%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.land-app .form-padding {
  margin-top: 140px !important;
}

/* Table Header */

table .ui-table-row {
  background-color: $ui_white;
  /*border: 1px solid rgba(0, 0, 0, 0.125);*/
}
.ui-toptable {
  background-color: $ui_middlegray;
  padding: 8px 15px;
  border: 1px solid $ui_middlegray;
  -webkit-border-top-left-radius: $ui-radius;
  -webkit-border-top-right-radius: $ui-radius;
  -moz-border-radius-topleft: $ui-radius;
  -moz-border-radius-topright: $ui-radius;
  border-top-left-radius: $ui-radius;
  border-top-right-radius: $ui-radius;
}
.ui-toptable .ui-btn {
  margin-bottom: 0 !important;
}

/* Table Cells  */
.ui-table thead {
  background-color: #edeff4;
  /*border: 1px solid #edeff4;*/
  font-family: 'hk-grotesk-bold';
}
.ui-table table {
  background-color: $ui_white;
}
.ui-table thead th {
  vertical-align: top;
  font-size: 16px;
}
.ui-table td {
  padding: 26px 20px;
  font-family: 'hk-grotesk-regular';
}
.ui-table td a {
  font-family: 'hk-grotesk-semibold';
}
.ui-table .ui-sort {
  color: $ui_back;
  padding-left: 24px;
  background-image: image-url('icons/icn-sort.svg');
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: left 10px top 6px;
}
.ui-app-area .table thead th {
  border-bottom: transparent;
}

/* Tr */
.ui-table table tbody tr:hover {
  /*background-color: $ui_fill;*/
}

.ui-toptable .col-lg-6:first-child {
  align-self: flex-end;
}

/* =========================== */

.ui-app-area .dropdown-toggle::after {
  display: none;
}
.ui-app-area .dropleft .dropdown-toggle::before {
  display: none;
}
.ui-app-area .dropdown .btn-group {
  display: block;
}
.ui-app-area .dropdown .btn-group .btn {
  width: 100%;
}
.ui-app-area .dropdown .btn-group .btn-outline-primary,
.ui-app-area .dropdown .btn-group .btn-outline-danger {
  color: $ui_back;
  border-color: transparent;
}
.ui-app-area .dropdown .btn.dropdown-toggle {
  padding: 4px;
}
.ui-app-area .ui-table-row .dropdown.dropleft {
  display: none;
}
.ui-app-area .ui-table-row:hover .dropdown.dropleft  {
  display: block;
}
.ui-app-area .ui-menu-dots {
  width: 40px;
}
.ui-app-area table .ui-menu-dots {
  width: 20px;
  height: 70px;
  text-align: right;
}
.ui-app-area table .dropdown-menu {
  padding: 0;
}
.ui-app-area .card.card-body {
  margin-bottom: $md-marginbottom;
  padding: 0;
  background-color: transparent;
  border: transparent;
}
.ui-app-area .dropdown .btn.dropdown-toggle:hover .dropdown-menu {
  display: block !important;
}
.site-plan .card-body {
  padding: 0;
}
.ui-app-area .list-group-item {
  min-height: 90px;
}
#ui-tabs .list-group-item {
  padding-left: 15px;
}

/* =========================== */

.land-app .parcel-information-block {
  display: block;
  width: 100%;
  border-bottom: 1px solid #D9D9D9;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* =========================== */

.ui-app-area .ui-col {
  display: inline-block;
  float: left;
  position: relative;
  margin-bottom: $sm-marginbottom;
  margin-left: 15px;
}
.ui-app-area .width-drop {
  padding-right: 50px;
}
.ui-app-area .ui-col.dots-drop {
  display: flex;
  position: absolute;
  width: 40px;
  height: 100%;
  right: 0;
  top: 0;
}
.ui-app-area .ui-col.dots-drop .dropdown {
  align-self: center;
  margin: 0 auto;
}
.ui-app-area .ui-col.dots-drop .dropdown .dropdown-menu {
  padding: 0;
  border-radius: 8px;
}

.ui-app-area .list-group-item {
  border-radius: 0 !important;
  padding: 1.50rem 1.25rem;
}
.ui-app-area .list-group-item:hover {
  /*background-color: $ui_fill;*/
}
.ui-app-area .parcel-main-info .list-group-item {
  padding: 0.50rem 1.25rem;
}

/* =========================== */

.parcel-main-info {
  display: block;
  float: left;
  position: relative;
  margin-bottom: $md-marginbottom;
}
.parcel-main-info .card {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
.parcel-main-info .card .card-header {
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: none;
  padding: 0.75rem 0;
}
.parcel-main-info .list-group {
  display: block;
}
.parcel-main-info .card .list-group-item {
  background-color: transparent;
  border: none;
  width: 33%;
  padding-left: 0 !important;
  display: inline-block !important;
}
.parcel-main-info.site-plan .img-fluid {
  max-width: 50px;
  height: auto;
  text-align: left;
  border: 1px solid #007bff;
}

/* =========================== */

.pagination {
  align-items: center;
  justify-content: center;
}
.pagination .page-link {
  padding: 10px;
  margin-left: 0;
  line-height: 1.25;
  color: $ui_blue;
  background-color: transparent;
  border: none;
  border-radius: $ui-radius;
  font-size: $ui_font_small;
}
.pagination .page-item.active .page-link {
  z-index: 3;
  color: $ui_white;
  background-color: $ui_blue;
  border-color: transparent;
}
.pagination .page-item.disabled .page-link {
  background-color: transparent;
  border-color: transparent;
}

/* =========================== */

#add-characteristic .card.card-body {
  background-color: $ui_white;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.ui-toolt, .ui-toolt-status {
  position: relative;
  display: inline-block;
}
.ui-toolt:hover {
  cursor: pointer;
}
.ui-toolt .tooltiptext {
  visibility: hidden;
  width: 270px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px;

  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -135px;
  font-size: 13px;
  margin-bottom: 15px;
}
.ui-toolt-status .tooltiptext {
  visibility: hidden;
  width: 64px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: .25rem;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -30px;
  font-size: 13px;
  margin-bottom: 2px;
}
.ui-toolt:hover .tooltiptext, .ui-toolt-status:hover .tooltiptext {
  visibility: visible;
}
.ui-toolt .ui-toolt-info {
  background-color: $ui_white;
  border: 1px solid $ui_back;
  padding: 2px 6px 0px;
  border-radius: 50%;
  color: $ui_back;
  font-size: 8px;
  display: block;
  top: -2px;
  position: relative;
  font-family: 'gt-eesti-bold';
}
.ui-toolt .tooltiptext:after {
  content: '';
  position: absolute;
  left: 115px;
  top: 50px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid #000;
  clear: both;
}
.ui-toolt-status .tooltiptext:after {
  content: '';
  position: absolute;
  left: 11px;
  top: 24px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid #000;
  clear: both;
}

/* =========================== */

.ui-status a.btn.btn-success {
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  background-color: $ui_green;
  border: 1px solid $ui_green;
}
.ui-status .btn.btn-danger {
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  padding: 0;
  border-radius: 50%;
  background-color: $ui_darkgray;
  border: 1px solid $ui_darkgray;
}

/* =========================== */

.parcel-real-estate .list-group-item {
  width: 100% !important;
}

/* =========================== */

#parcel_form .form-row {
  margin-bottom: 15px;
}

/* =========================== */

.ui-login {
  max-width: 480px;
  border: 1px solid $ui_darkgray;
  border-radius: $ui-radius;
  margin-top: $lg-margintop;
}
.ui-login .btn.btn-outline-primary {
  background-color: $ui_blue;
  color: $ui_white
}
.ui-login a {
  display: block;
  font-size: $ui_font_small;
  margin-top: $sm-margintop;
}

/* =========================== */

.ui-app-area .btn.btn-success {
  background-color: $ui_blue;
  color: $ui_white;
}
.ui-edit-block {
  border: $ui_darkgray;
  padding: 20px;
  border-radius: $ui-radius;
}

/* =========================== */

.ui-app-area form #search {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
  padding: 10px;
}
 
.ui-app-area form #search:focus {
  box-shadow: 0 0 5px $ui_blue;
  border: 1px solid $ui_blue;
}
.ui-app-area .site-plan a {
  color: $ui_back;
  text-decoration: underline;
}

/* =========================== */

#parcel_form {
  /*background-color: $ui_white;*/
  padding: 30px 0px;
  /*margin-top: 80px;*/
}

/* =========================== */

.am-left-sidebar.col-12.col-lg-2.p-0.menu-app {
  display: block;
  float: left;
  position: relative;
}
.am-content.col-12.col-lg-10.mx-auto.ui-app-area {
  display: block;
  float: right;
  position: relative;
}
.table-striped tbody tr:nth-of-type(odd), .table-striped tbody tr {
  background-color:#fff;
}
.table-striped tbody tr:hover {
  background-color:#fff!important;
}
.am-wrapper.am-login {
  max-width: 660px;
  margin: 120px auto;
}

.ui-app-area .tab-pane .widget.widget-small {
  margin-bottom: 60px;
}
.ui-app-area .widget-head {
  background-color: #fff !important;
  padding: 12px 15px;
  border-bottom: 1px solid #7A7A7A !important;
  -webkit-border-top-left-radius: .25rem!important;
  -webkit-border-top-right-radius: .25rem!important;
  -moz-border-radius-topleft: .25rem!important;
  -moz-border-radius-topright: .25rem!important;
  border-top-left-radius: .25rem!important;
  border-top-right-radius: .25rem!important;
}
.ui-app-area .widget-head.no-margin {
  margin-left: 0;
  margin-right: 0;
}
.ui-app-area .widget-head.no-margin .col-sm-8,
.ui-app-area .widget-head.no-margin .col-sm-12 {
  margin-bottom: 0;
  padding-left: 0;
}
.ui-app-area .widget-head  .title {
  font-size: 22px;
  font-weight: 600;
  font-family: 'hk_groteskbold';
}
.ui-app-area .card-body .nav.nav-tabs {
  margin-bottom: 30px;
  border-bottom: transparent;
}
.widget-small .nav.nav-tabs {
  padding-right: 50px;
}
.ui-app-area .card-body .nav-tabs .nav-link.active, .ui-app-area .card-body .nav-tabs .nav-item.show .nav-link,
.ui-app-area .card-body .nav-tabs .nav-link:hover {
  color: #000;
  background-color: #EDEFF4;
  border: 1px solid #EDEFF4;
  border-radius: $ui-radius;
  font-family: gt-eesti-regular;
}
.ui-app-area .card-body .nav-tabs .nav-link {
  color: #000;
  font-family: gt-eesti-regular;
  padding: 8px 12px !important;
}

/* =========================== */

.ui-app-area .card-body .nav-tabs .nav-link.active .nav-link {
  padding: 8px 0 !important;
}
.ui-app-area .card-body .nav-tabs .nav-link.active .nav-link.active,
.ui-app-area .card-body .nav-tabs .nav-link.active .nav-link:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0 !important;
  background-image: none;
  border-bottom: 1px solid #4A8FE7;
}

.ui-app-area .card-body .content-lateral .nav-link {
  background-image: none;
  border: 0px;
  border-bottom: 1px solid #fff;
  padding: 8px 0px 8px 0px !important;
  background-color: transparent;
  border-radius: 0px !important;
}
.ui-app-area .card-body .content-lateral .nav-link.active,
.ui-app-area .card-body .content-lateral .nav-link:hover {
  background-image: none;
  border: 0px;
  border-bottom: 1px solid #4A8FE7;
  padding: 8px 0px 8px 0px !important;
  background-color: transparent;
  border-radius: 0px !important;
}
.ui-app-area .card-body .status-readed {
  display: inline-block;
  float: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-image: image-url('icons/icon-read-yes.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  top: 2px;
}
.ui-app-area .card-body .status-notreaded {
  display: inline-block;
  float: none;
  position: relative;
  width: 20px;
  height: 20px;
  background-image: image-url('icons/icon-read-no.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  top: 2px;
}



.table th, .table td {
  padding: 1rem;
}
.am-content.ui-app-area .table th,
.am-content.ui-app-area .table td {
  border-top: transparent;
  border-bottom: 1px solid #dee2e6;
}
.am-content.ui-app-area .table tr:last-child td {
  border-bottom: transparent;
}
.ui-app-area .drop-side {
  left: 220px !important;
  top: 4px !important;
}
.main-app .ui-app-area .ui-menu-dots .btn {
  text-align: left;
}
.main-app .ui-app-area .ui-menu-dots .btn:hover {
  background-color: transparent;
  color: $ui_back !important;
}
.main-app .ui-app-area .dots-horizontal {
  float: right;
  position: relative;
  margin-left: 14px;
  margin-top: -2px;
}
.main-app .ui-app-area .title-section {
  display: block;
  float: left;
}

.ui-app-area #nav-p_information .row {
  margin-bottom: 30px;
}
.ui-app-area #nav-p_information .row .ui-toptable .row {
  margin-bottom: 0px;
}

.am-content.ui-app-area .content-lateral table {
  margin-bottom: 0;
}
.am-content.ui-app-area .content-lateral .table-widget {
  margin-bottom: 40px;
}

/* =========================== */

.am-content.ui-app-area .widget-head.primary-head {
  background-color: #EAEEF5 !important;
  border-bottom: none !important;
}
.am-content.ui-app-area .widget-head.primary-head .title {
  font-size: 18px;
}
.am-content.ui-app-area .widget-head {
  box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.15);
  -webkit-box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.15);
  -moz-box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.15);
}
.am-content.ui-app-area .widget-head-nocolor {
  background-color: transparent;
}

/* =========================== */

.main-content table,
.am-content.ui-app-area .table-widget,
.am-content.ui-app-area .content-lateral table,
.land-app .table {
  box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.25);
  -webkit-box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.25);
  -moz-box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.25);
  border-radius: $ui-radius;
}
.am-content.ui-app-area .content-lateral table {
  /*margin-bottom: 40px;*/
}
.am-content.ui-app-area .table-widget {
  background-color: $ui_white;
}

/* =========================== */

.am-content.ui-app-area .customers-header .accordion-toggle[aria-expanded="true"] img {
  transform: rotate(180deg);
}
.am-content.ui-app-area .customers-header h3 {
  padding-left: 20px;
}
.am-content.ui-app-area .customers-header h3::before {
  background-image: image-url('icons/menu_customers.svg');
  background-repeat: no-repeat;
  background-size: 14px;
  width: 14px;
  height: 14px;
  content: "";
  display: block;
  position: absolute;
  margin-left: -20px;
  top: 10px;
}
.am-content.ui-app-area .customers-header h3:hover {
  cursor: pointer;
}

/* =========================== */

.am-content.ui-app-area .customer-block-info {
  margin-bottom: 40px;
}

/* =========================== */

.main-app .tab-table {
  background-color: $ui_white;
}
.main-app .tab-table .card {
  width: 48%;
  display: block;
  float: left;
  margin: 0 1% 30px 1%;
  min-height: 140px;
}
.main-app .tab-table .card .h4 {
  font-size: 16px;
  font-weight: 500;
  font-family: 'gt-eesti-regular';
}
.main-app .tab-table .card p {
  margin-bottom: 10px;
}
.main-app .tab-table .card .h4 p {
  margin-bottom: -8px;
}
.main-app .tab-table .row-head {
  background-color: #edeff4;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  padding: 12px 20px;
  border: 1px solid #edeff4!important;
}
.main-app .tab-table .row-head-white {
  background-color: #fff;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 30px;
  padding: 12px 20px;
  border-bottom: 1px solid #000!important;
}
.main-app .card .card-header {
  background-color: #edeff4;
  font-weight: 600;
}
.main-app .ui-app-area .page-head h2 a {
  color: $ui_back;
}
.main-app .ui-app-area .page-head h2 a.btn-primary {
  color: $ui_white;
}
.main-app .ui-app-area .page-head {
  border-bottom: 1px solid #d9d9d9;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px 0 !important;
}
.main-app .ui-app-area .nav-tabs .nav-link {
  padding: 0.5rem 0;
  margin-right: 20px;
}
.main-app .ui-app-area .tab-content .tab-pane {
  /*margin-top: 40px;*/
}
.main-app .ui-app-area .tab-content .tab-pane .h3 {
  font-size: 20px;
}
.main-app .ui-app-area table thead th {
  background-color: #fff;
  border-bottom: 1px solid #7A7A7A !important;
}
.ui-app-area .page-head .dropdown.droppright {
  top: 6px;
  left: 12px;
}
.ui-app-area .row-white {
  background-color: #fff;
  padding: 12px;
  margin-left: 0px;
  margin-right: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* =========================== */

.main-app .page-aside {
  border-bottom: 1px solid #dee2e6;
  padding: 0 15px 20px 16px;
}
.main-app .page-aside ul li {
  margin-right: 12px;
}

/* =========================== */

.main-app .am-datatable-footer {
  text-align: center;
  margin: 0 auto !important;
  display: block;
}
.main-app .am-datatable-footer .btn-outline-primary {
  border-color: transparent;
}

/* =========================== */

.edit-form-group {
  display: block;
  margin-bottom: 30px;
}
.edit-form-group .form-row {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(207,207,207,0.50);
  border-radius: 4px;
  padding: 20px;
}
.edit-form-group.form-group-complete .form-row {
  background: #FFFFFF;
  border: 1px solid #91CF97;
  box-shadow: 0 0 6px 0 rgba(207,207,207,0.50);
}
.edit-form-group .form-group {
  margin-bottom: 0;
}
.edit-form-group .col-lg-12,
.edit-form-group .col-lg-6,
.edit-form-group .col-lg-4 {
  margin-bottom: 15px;
}
.edit-form-group .btn-outline-primary {
  padding-left: 15px;
}
.edit-form-group .btn-outline-primary:hover {
  background-color: $ui_back;
  color: $ui_white;
}
.form-pill {
  background-color:$ui_white;
  padding: 6px 10px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  color: $ui_back;
  font-size: 14px;
}
.form-pill:hover {
  text-decoration: none;
}
.pill-complete {
  border: 1px solid #7EB984;
  padding-right: 33px;
  background-image: image-url('icons/icn-check.svg');
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: right 10px top 8px;
}

/* =========================== */

.calculator-container {
  display: block;
  width: 100%;
  background-color: #292926;
  padding: 12px;
}
.calculator-container #screen {
  color: $ui_white;
  font-size: 26px;
}
.calculator-container .row {
  margin-right: 0;
  margin-left: 0;
}
.calculator-container .row button {
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #292926;
  transition: all .2s;
  cursor: pointer;
}
.calculator-container .row button:hover {
  transform :scale(1.03);
}
.calculator-container .row button:active {
  transform: scale(.98);
}
.calculator-container .gray_light {
  background-color: #5F5E5C;
}
.calculator-container .gray_dark {
  background-color: #3E3D3A;
}
.calculator-container .bg_blue {
  background-color: $ui_blue;
}

/* =========================== */
/* Land App - LP */

.block-stats {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: $md-marginbottom;
}
.block-stats select {
  display: block;
  float: left;
  position: relative;
  min-width: 140px;
  height: 36px;
  border: 1px solid #D9D9D9;
  border-radius: $ui-radius;
  padding: 4px 6px;
}
.block-stats .block-stats-area {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: $ui_white;
  border-radius: $ui-radius;
  min-height: 100px;
  padding: 15px 20px;
}
.block-stats div {
  display: block;
  float: left;
  position: relative;
  margin-bottom: 12px;
}
.widget-box {
  display: block;
  float: left;
  position: relative;
  padding: 0 3px;
}
.ui-app-area .widget {
  display: block;
  float: left;
  position: relative;
  background-color: #EEF2F7;
  border: 1px solid #D2D5DA;
  border-radius: $ui-radius;
  padding: 15px 20px;
  min-height: 300px;
}
.am-content .widget {
  float: none;
  padding: 0;
  background-color: transparent;
  border: none;
}
.ui-app-area.am-content .widget-area .widget {
  display: block;
  float: left;
  position: relative;
  background-color: #EEF2F7;
  border: 1px solid #D2D5DA;
  border-radius: $ui-radius;
  padding: 15px 20px;
  min-height: 300px;
}
.ui-app-area.am-content .widget-area h4 {
  margin-bottom: 0;
}
.widget .widget-title {
  font-size: 18px;
  line-height: 22px;
  margin-top: 12px;
  min-height: 48px;
}
.widget .widget-information {
  font-size: 13px;
  margin-top: 12px;
  min-height: 90px;
}
.widget .phase,
.block-stats-area .parcels-list .phase {
  border-radius: $ui-radius;
  padding: 0 2px;
  color: $ui_white;
}
.block-stats-area .parcels-list .phase {
  font-size: 13px;
}
.widget .phase.p-pass,
.block-stats-area .parcels-list .phase.p-pass {
  background-color: $ui_blue;
}
.widget .phase.p-questionable,
.block-stats-area .parcels-list .phase.p-questionable {
  background-color: #FAC15F;
  color: $ui_back;
}
.widget .phase.p-offmarket,
.block-stats-area .parcels-list .phase.p-offmarket {
  background-color: #FF411D;
}
.widget .phase.p-reject,
.block-stats-area .parcels-list .phase.p-reject {
  background-color: #FF411D;
}

.block-stats .progress {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 10px;
  background-color: transparent;
}
.block-stats .progress-small {
  height: 8px;
  margin-bottom: 0;
  background-color: #e9ecef;
}
.block-stats .progress-bar {
  height: 10px;
  border-radius: $ui-radius;
}
.block-stats .progress-small .progress-bar {
  height: 8px;
  border-radius: $ui-radius;
}
.block-stats label {
  display: block;
}
.block-stats .separate {
  border-top: 1px solid #D9D9D9;
  padding-top: 12px;
}

.approval-requirements-area .w-33 {
  padding-left: 5px;
  padding-right: 5px;
}
.approval-requirements-area .w-33 .w-50,
.approval-requirements-area .w-33 .w-100 {
  padding-left: 5px;
  padding-right: 5px;
}

.block-stats-area .counties {
  font-size: 14px;
}
.block-stats-area .counties label {
  margin-bottom: 2px;
}

.approval-requirements-area .block-title {
  font-size: 18px;
}
.approval-requirements-area .block-title img {
  margin-top: -4px;
}
.month-stats {
  margin-bottom: 0 !important;
}
.month-stats .month {
  width: 8.33%;
  margin-bottom: 0;
  font-size: 10px;
  text-align: center;
}
.month-stats .month-chart {
  width: 8.33%;
  margin-bottom: 0;
}

.month-stats .month-chart .progress.vertical {
  width: 100%;
  min-height: 60px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  padding: 0 3px;
}

.month-stats .month-chart .progress.vertical .progress-bar {
  width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
  background-color: #007bff;
  margin-bottom: 0;
  border-radius: $ui-radius;
}

.new-properties-area .widget .widget-title {
  margin-top: 6px;
  margin-bottom: 6px;
  min-height: 40px;
}
.new-properties-area .widget .widget-information {
  margin-top: 4px;
  min-height: 90px;
}
.new-properties-area .widget .widget-information div {
  margin-bottom: 2px;
}
.new-properties-area .widget .widget-subtitle {
  font-size: 16px;
}
.new-properties-area .widget .phase-number {
  background-color: $ui_back;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: $ui_white;
  text-align: center;
  display: block;
  float: left;
  position: relative;
  margin-right: 4px;
}
.new-properties-area .widget .phase-number.phase-questionable {
  background-color: #FAC15F !important;
  color: $ui_back;
}
.new-properties-area .widget .phase-number.phase-pass {
  background-color: #528DE9 !important;
}
.new-properties-area .widget .phase-number.phase-offmarket,
.new-properties-area .widget .phase-number.phase-reject {
  background-color: #FF411D !important;
}

.block-stats-area .select-filters select {
  margin-right: 10px;
}
.block-stats-area .with-select select {
  float: right;
}
.block-stats-area .content-right {
  padding-right: 0;
}
.block-stats-area .content-right select {
  float: right;
}
.block-stats-area .btn.btn-success,
.block-stats-area .btn.btn-alternative {
  margin-bottom: 0 !important;
}

.block-stats-area .parcels-list {
  border-bottom: 1px solid #C4C4C4;
}
.block-stats-area .parcels-list .parcel-item {
  border-bottom: 1px solid #E8E8E8;
}
.block-stats-area .parcels-list .parcel-item:last-child {
  border-bottom: none;
}
.block-stats-area .dropdown-menu.tags {
  display: none;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  margin-right: 0;
}
.block-stats-area table thead {
  background-color: transparent !important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #C4C4C4;
}
.block-stats-area table thead th,
.block-stats-area table td  {
  border-bottom: none;
  border-top: none;
  padding-left: 0;
  padding-right: 0;
}
.block-stats-area table .ui-table-row {
  border: none;
}
.block-stats-area .ui-table-row.width-drop .dropdown a {
  color: $ui_back;
  padding: 10px 10px 0px 10px;
  font-size: 14px;
}
.block-stats-area .ui-table-row.width-drop .dropdown a:hover {
  text-decoration: none;
}

.am-content.ui-app-area .block-stats-area .parcels-list .ui-table-row.width-drop {
  border-bottom: 1px solid #E4E4E4;
}
.am-content.ui-app-area .block-stats-area .parcels-list .ui-table-row.width-drop:last-child {
  border-bottom: none;
}

.block-stats-area .list-properties {
  border-bottom: 1px solid #D9D9D9;
}
.block-stats-area .list-properties-item {
  font-size: 14px;
  border-bottom: 1px solid #D9D9D9;
}
.block-stats-area .list-properties-item:last-child {
  border-bottom: none
}
.block-stats-area .transit {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.block-stats-area .maps-frame {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.search-area {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}
.search-area .search-lp {
  height: 50px;
  border-radius: 4px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: #D9D9D9 !important;
  border-style: solid;
  background-color: #fff;
  border-width: 1px;
  padding: 5px 10px;
  border-image: none;
}
.search-area input[type="image"] {
  height: 50px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: 50px;
  padding: 5px;
  background-color: #EEF2F7 !important;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  color: #AFAFAF;
  text-align: center;
  margin: -4px 0 0 -6px;
}
.search-area button img {
  width: -moz-available; 
  width: -webkit-fill-available;
  width: fill-available;
  max-width: 35px;
}

.compared-area {
  font-size: 14px;
}
.compared-area .compared-to select {
  width: 100px;
  min-width: auto;
  margin-right: 10px;
}
.compared-area label {
  margin-bottom: 0;
}

/* =========================== */
/* Land App - Daily Stats */

.daily-stats .daily-widget {
  min-height: auto;
  padding: 15px 20px 25px 20px;
  margin-bottom: 30px;
}
.daily-stats .daily-widget_last-child {
  margin-bottom: 0px;
}
.daily-stats .daily-widget .title-data {
  display: block;
  position: relative;
  width: 100%;
  margin: 6px 0 -4px 0;
}
.daily-stats .daily-widget .subtitle-data {
  font-size: 10px;
}
.daily-stats .phase {
  font-size: 12px;
}
.daily-stats .widget .widget-title {
  min-height: auto;
}
.daily-stats .quick-links .widget a {
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #000;
}

/* =========================== */
/* Teardown UI adaptations */

.ui-app-area .teardown-information-block {
  display: block;
  width: 100%;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.ui-app-area .card-block {
  display: block !important;
}
.ui-app-area .data-list {
  display: block;
  float: left;
  position: relative;
  margin-top: 20px;
}
.ui-app-area .data-list h4 {
  font-size: 18px;
  color: #6F6F6F;
  letter-spacing: 0;
  font-family: 'hk_groteskmedium';
  padding: 12px 15px 12px 0;
  min-height: 80px;
}
.ui-app-area .data-list h4 span {
  font-size: 15px;
}
.ui-app-area .data-list .data-list-item {
  padding: 0 15px 0 25px !important;
  width: 100%;
  margin: 0 0 30px 0;
}
.ui-app-area .data-list .data-list-item strong,
.ui-app-area .data-list-card strong {
  font-family: 'gt-eesti-regular';
  font-size: 18px;
}
.ui-app-area .data-list-card {
  display: block;
  float: left;
  position: relative;
  background-color: #EEF2F7;
  border-radius: $ui-radius;
  margin: 20px 0;
  padding: 15px;
  text-align: center;
  min-height: 265px;
}
.ui-app-area .data-list-card h4 {
  font-size: 16px;
  color: #6F6F6F;
  letter-spacing: 0;
  font-family: 'hk_groteskmedium';
}
.ui-app-area .data-list-card .distribution-curve {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 110px;
  margin: 10px 0;
}
.ui-app-area .data-list .bg-average {
  background-image: image-url('icons/icn-average.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: left 0 top 6px;
}
.ui-app-area .data-list .bg-median {
  background-image: image-url('icons/icn-median.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 0 top 6px;
}
.ui-app-area .data-list .bg-square-foot {
  background-image: image-url('icons/icn-square-foot.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 0 top 6px;
}
.ui-app-area .icn-title {
  margin-top: -8px;
}

.land-app .ui-app-area .table-item {
  padding: 0;
  border: none;
}
.land-app .ui-app-area .table-item .ui-table td {
  padding: 5px 20px;
  border-bottom: transparent;
}

/* =========================== */

.land-app .ui-app-area .dropzone {
  background-color: #fff;
}

/* =========================== */

.land-app .ui-app-area .general-table {
  margin-bottom: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #dee2e6 !important;
  margin-bottom: -1px;
}
.land-app .ui-app-area .general-table td {
  border-top: transparent;
}
.land-app .ui-app-area .general-table input[type=submit]:hover {
  background-color: #000 !important;
  border: 1px solid #000 !important;
}

/* =========================== */
/* Fixed Note for Dev Requests */

.card.card-fixed {
  border: none;
  border-radius: $ui-radius;
  background-color: transparent;
}
.note-fixed {
  background-color: #FDFEFF;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 30px 45px;
  box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.45);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.45);
  -moz-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.45);
  margin-bottom: 15px;
}
.note-fixed .title {
  border-bottom: 1px solid $ui_lightgray;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.note-fixed .title h4 {
  font-weight: 600;
}
.note-fixed .body p {
  margin-bottom: 10px;
}
.note-fixed .body .block-information {
  margin-bottom: 30px;
}
.note-fixed .body .block-information:last-child {
  margin-bottom: 0px;
}
.main-content.request-area .sticky-top {
  height: calc(100vh - 20px);
  overflow: scroll;
}
.card-form-dev label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'gt-eesti-regular';
}
.card-form-dev .checkbox-wrapper label,
.card-form-dev .user_story_form label {
  font-weight: 400;
  font-size: 16px;
  font-family: 'hk_groteskmedium';
}
.card-form-dev .user_story_form label {
  margin-top: 12px;
  margin-bottom: 0px;
}

/* =========================== */

.ui-app-area .cart-abandonments .order-address,
.ui-app-area .cart-abandonments .order-property,
.ui-app-area .cart-abandonments .order-county,
.ui-app-area .cart-abandonments .order-state {
  display: none;
}
.ui-app-area .cart-abandonments-options.ui-menu-dots {
  display: none;
}
.ui-app-area .cart-abandonments .user-order-options.ui-menu-dots {
  display: block;
}
.ui-app-area .cart-abandonments .cart-abandonments-options.ui-menu-dots .dropdown.dropleft:hover > .dropdown-menu {
  right: 0px!important;
}

.ui-app-area .parcel-pdf-dropdown .dropdown-menu {
  width: 158px !important;
  left: 0 !important;
  min-width: auto;
  max-width: 158px;
  font-weight: bold;
}
.ui-app-area .parcel-pdf-dropdown .dropdown-menu .nav-link {
  width: 158px !important;
  left: 0 !important;
  min-width: auto;
  max-width: 158px;
  border-bottom: 1px solid #D9D9D9;
  font-size: 15px;
  color: #5E5E5D;
}
.ui-app-area .parcel-pdf-dropdown .dropdown-menu .nav-link:last-child {
  border-bottom: transparent;
}

/* =========================== */
/* Menu Dots open on hover */

.ui-app-area .table-responsive {
  overflow: visible;
}
.dropdown.dropleft:hover > .dropdown-menu {
  display: block !important;
  right: 8px !important;
  cursor: pointer;
}
.title-section .dropdown.dropleft:hover > .dropdown-menu {
  left: 0 !important;
}

/* =========================== */
/* Breadcrumbs - UI adaptations */

.breadcrumb {
  color: #6c757d;
}

/* =========================== */
/* Modals*/

.am-content.ui-app-area .modal-dialog .btn-outline-danger {
  color: #FF4949;
  border-color: #FF4949;
  padding: 4px 14px;
  background-image: image-url('icons/icn-trash.svg');
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: left 9px top 8px;
  width: 33px;
  height: 36px;
}
.am-content.ui-app-area .modal-dialog .btn-outline-danger:hover {
  color: #fff;
  background-image: image-url('icons/icn-trash-white.svg');
}
.am-content.ui-app-area .modal-dialog textarea.form-control {
  height: 80px;
}
.am-content.ui-app-area .modal-dialog .modal-content {
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 6px 0 rgba(207,207,207,0.50);
}
.am-content.ui-app-area .modal.show {
  background: rgba(145,145,145,0.70);
}

/* =========================== */

.absolute-right {
  display: block;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 100;
}

/* =========================== */

.am-content.ui-app-area .modal .property-address .select {
  padding-right: 45px;
}
.am-content.ui-app-area .modal .property-address select {
  height: 36px !important;
}
.am-content.ui-app-area .modal .property-address .select2-container .select2-selection--single,
.am-content.ui-app-area .modal .select2-container--default .select2-selection--single {
  height: 36px !important;
}
.am-content.ui-app-area .modal .property-address .btn.btn-outline-danger {
  display: block;
  position: absolute;
  top: 32px;
  right: 15px;
}

/* =========================== */

.am-content.ui-app-area .modal .form-separation {
  margin-bottom: 18px;
}
.ui-app-area .widget.widget-properties {
  min-height: auto !important;
}
.ui-app-area .widget.widget-properties .card {
  background-color: #F6F9FD;
  min-height: auto;
}
.ui-app-area .widget.widget-properties .card-body {
  padding: 25px 0px !important;
  margin: 0 !important;
  display: block;
  font-size: 13px;
}
.ui-app-area .widget.widget-properties .card-body .row.row-full:first-child {
  padding-bottom: 6px;
}
.ui-app-area .widget.widget-properties .card-body .h4 {
  font-size: 15px;
}
.ui-app-area .widget.widget-properties .card-body .h4:last-child {
  margin-bottom: 0;
}
.ui-app-area .widget.widget-properties .card-body .status-bubble {
  display: block;
  float: right;
  position: relative;
  border: 1px solid #D8D8D7;
  border-radius: 8px;
  padding: 1px 6px;
  background-color: $ui_white;
}
.ui-app-area .widget.widget-properties .card-body .status-bubble .red {
  background-color: #F46464;
  display: inline-block;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 4px;
}
.ui-app-area .widget.widget-properties .card-body .status-bubble .green {
  background-color: #62DA87;
  display: inline-block;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 4px;
}
.ui-app-area .widget.widget-properties .card-body .status-bubble .black {
  background-color: #D8DBE5;
  display: inline-block;
  float: left;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 4px;
}
.am-content.ui-app-area .no-properties {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background-color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  -moz-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
}
.am-content.ui-app-area .no-properties h5 {
  padding: 22px 20px;
}
.am-content.ui-app-area .no-properties .h4 {
  padding: 22px 20px;
  border-bottom: 1px solid #000;
}
.am-content.ui-app-area .no-properties p {
  padding: 12px 20px;
}

/* =========================== */

.am-content.ui-app-area #manage_properties .nav-item {
  margin-bottom: 6px;
}

/* =========================== */

.am-content.ui-app-area .row-full {
  width: 100%;
  margin: 0 !important;
}

/* =========================== */

.land-app .ui-app-area .message-bubble {
  display: block;
  float: left;
  position: relative;
  background-color: #EBEFF5;
  padding: 12px;
  margin-top: 12px;
  border-radius: 4px;
}
.land-app .ui-app-area .message-date {
  color: #767A89;
  font-size: 14px;
}

/* =========================== */

.am-content.ui-app-area .model-widget {
  display: block;
  position: relative;
  background-color: $ui_white;
  padding: 18px 20px;
  border-radius: $ui-radius;
  box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  -moz-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  margin-bottom: 30px;
  width: 49%;
  margin-top: 30px;
}
.am-content.ui-app-area .model-widget:nth-child(odd) {
  margin-right: 5px;
  float: left;
}
.am-content.ui-app-area .model-widget:nth-child(even) {
  margin-left: 5px;
  float: right;
}
.am-content.ui-app-area .model-widget .model-info {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 12px;
}
.am-content.ui-app-area .model-widget .model-info:last-child {
  margin-bottom: 0px;
}
.am-content.ui-app-area .model-widget .model-info .active-status {
  display: inline-block;
  position: relative;
  margin-left: 4px;
  top: -2px;
  border: 1px solid #979797;
  border-radius: $ui-radius;
  padding: 1px 6px;
  font-size: 12px;
}
.am-content.ui-app-area .model-widget .model-info .model-title,
.am-content.ui-app-area .model-widget .model-info .model-studio-status {
  display: block;
  float: left;
}
.am-content.ui-app-area .model-widget .model-info .model-studio-status .model-studio-active {
  float: right;
  font-size: 12px;
  border: 1px solid #979797;
  border-radius: $ui-radius;
  padding: 1px 6px;
}
.am-content.ui-app-area .model-widget .model-info .model-studio-status .model-studio-active .active {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #2FCC32;
  border-radius: 50%;
}
.am-content.ui-app-area .model-widget .model-info .model-studio-status .model-studio-active .inactive {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #ff0000;
  border-radius: 50%;
}
.am-content.ui-app-area .model-widget .model-img img {
  max-width: 100%;
  margin-bottom: 12px;
}
.am-content.ui-app-area .model-widget .model-info.separator {
  padding-top: 14px;
  border-top: 1px solid #D9D9D9;
}

/* =========================== */

.am-content.ui-app-area .main-content.edit .card-body {
  padding: 20px 15px;
}

/* =========================== */

.am-content.ui-app-area .floor-widget {
  display: block;
  float: left;
  position: relative;
  background-color: $ui_white;
  padding: 18px 20px;
  border-radius: $ui-radius;
  box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  -webkit-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  -moz-box-shadow: 1px 1px 12px 0px rgba(141,141,141,0.25);
  margin-bottom: 30px;
  width: 100%;
}
.am-content.ui-app-area .floor-widget .floor-container {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.am-content.ui-app-area .floor-widget .floor-container h3 {
  font-size: 24px;
  border-left: 4px solid #D9DBE5;
  padding-left: 15px;
}
.am-content.ui-app-area .floor-widget .floor-container .floor_title_add-edit,
.am-content.ui-app-area .floor-widget .floor-container .floor_areas {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.am-content.ui-app-area .floor-widget .floor-container .floor_title_add-edit {
  padding-bottom: 15px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 25px;
}
.am-content.ui-app-area .floor-widget .floor-container .floor_areas .floor_area-item {
  display: block;
  float: left;
  position: relative;
  margin-bottom: 15px;
  width: 20%;
  padding: 0 5px;
}
.am-content.ui-app-area .floor-widget .floor-container .floor_areas .floor_area-item .area-item {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 0 6px 0 rgba(207,207,207,0.50);
  border-radius: $ui-radius;
}
.am-content.ui-app-area .floor-widget .floor-container .floor_areas .floor_area-item .area-item:hover {
  box-shadow: 0 0 14px 0 rgba(207,207,207,0.50);
}
.am-content.ui-app-area .floor-widget .floor-container .floor_areas .floor_area-item .area-item a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 15px;
  color: #000;
}
.am-content.ui-app-area .floor-widget .floor-container .floor_areas .floor_area-item .area-item a:hover {
  text-decoration: none;
}

.am-content.ui-app-area .model-tabs .nav.nav-tabs {
    padding-right: 10px;
}

/* =========================== */

.am-content.ui-app-area .add-block {
  background-color: #F2F2F2;
  border-radius: $ui-radius;
  padding: 8px 20px;
}
.am-content.ui-app-area .add-block .padding-center {
  padding: 7px 20px;
}
.am-content.ui-app-area .row-without-dots {
  display: block;
  float: left;
  position: relative;
  width: 100% !important;
  background-color: #fff;
  padding: 12px;
  margin-top: -16px;
  margin-bottom: 30px;
  box-shadow: 0 2px 6px 0 rgba(207,207,207,0.30);
}
.am-content.ui-app-area .card-body {
  width: 100%;
  padding: 30px 0;
}

/* =========================== */

.am-content.ui-app-area  .page-head h2 {
  border-left: 4px solid #D9DBE5;
  padding-left: 12px;
}

/* =========================== */

.am-content.ui-app-area .add-item {
  display: block;
  float: left;
  position: relative;
  border-top: 1px solid #D9D9D9;
  margin-top: 5px;
}
.am-content.ui-app-area .add-item .add-item-container {
  background-color: #F2F2F2;
  border-radius: $ui-radius;
  padding: 8px 20px;
  margin-top: 30px;
  display: block;
  float: left;
  position: relative;
  width: 100%;
}
.am-content.ui-app-area .add-item .add-item-container .add-text,
.am-content.ui-app-area .add-item .add-item-container .add-btn {
  display: block;
  float: left;
  position: relative;
}
.am-content.ui-app-area .add-item .add-item-container .add-text {
  font-weight: 600;
  margin-top: 5px;
}
.am-content.ui-app-area .add-item .add-item-container .add-btn {
  float: right;
}









