// Variables
// Welcome UI - Tabs

#ui-tabs {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
#ui-tabs .nav-item {
  font-family: 'gt-eesti-regular';
  font-weight: 400;
  color: $ui_back;
}
#ui-tabs .nav-tabs {
  border-bottom: transparent;
}
#ui-tabs .nav-tabs .nav-link {
  border: transparent;
}
#ui-tabs .nav-tabs .nav-link.active {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $ui_blue;
}
#ui-tabs .tab-content {
  margin-top: $md-margintop;
}
.am-content.ui-app-area .tab-content .tab-pane .nav-tabs-dates {
  background-color: #fff;
  padding: 8px 12px !important;
  border: 1px solid #EDEFF4;
  border-radius: $ui-radius;
  box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.15);
  -webkit-box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.15);
  -moz-box-shadow: 1px -1px 13px 0px rgba(174,174,174,0.15);
}
.am-content.ui-app-area .tab-content .tab-pane .nav-tabs-dates.active {
  border: 1px solid #007bff;
}

.ui-app-area .tab-pill.active,
.ui-app-area .tab-pill:hover {
  color: #000;
  background-color: #edeff4;
  border: 1px solid #edeff4;
  border-radius: 4px !important;
}