

 .dropup,
 .dropright,
 .dropdown,
 .dropleft {
   position: relative;
 }

 .dropdown-toggle:empty::after {
   margin-left: 0;
 }

 .dropdown-menu {
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   /*min-width: 12.31rem;*/
   min-width: 150px;
   padding: 0.3846rem 0;
   margin: 0.1538rem 0 0;
   font-size: 1rem;
   color: #555555;
   text-align: left;
   list-style: none;
   background-color: #FFFFFF;
   background-clip: padding-box;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 0;
 }

 .dropdown-menu-right {
   right: 0;
   left: auto;
 }

 .dropup .dropdown-menu {
   top: auto;
   bottom: 100%;
   margin-top: 0;
   margin-bottom: 0.1538rem;
 }

 .dropup .dropdown-toggle::after {
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 0.26146em;
   vertical-align: 0.26146em;
   content: "";
   border-top: 0;
   border-right: 0.3076em solid transparent;
   border-bottom: 0.3076em solid;
   border-left: 0.3076em solid transparent;
 }

 .dropup .dropdown-toggle:empty::after {
   margin-left: 0;
 }

 .dropright .dropdown-menu {
   top: 0;
   right: auto;
   left: 100%;
   margin-top: 0;
   margin-left: 0.1538rem;
 }

 .dropright .dropdown-toggle::after {
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 0.26146em;
   vertical-align: 0.26146em;
   content: "";
   border-top: 0.3076em solid transparent;
   border-right: 0;
   border-bottom: 0.3076em solid transparent;
   border-left: 0.3076em solid;
 }

 .dropright .dropdown-toggle:empty::after {
   margin-left: 0;
 }

 .dropright .dropdown-toggle::after {
   vertical-align: 0;
 }

 .dropleft .dropdown-menu {
   top: 0;
   right: 100%;
   left: auto;
   margin-top: 0;
   margin-right: 0.1538rem;
 }

 .dropleft .dropdown-toggle::after {
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 0.26146em;
   vertical-align: 0.26146em;
   content: "";
 }

 .dropleft .dropdown-toggle::after {
   display: none;
 }

 .dropleft .dropdown-toggle::before {
   display: inline-block;
   width: 0;
   height: 0;
   margin-right: 0.26146em;
   vertical-align: 0.26146em;
   content: "";
   border-top: 0.3076em solid transparent;
   border-right: 0.3076em solid;
   border-bottom: 0.3076em solid transparent;
 }

 .dropleft .dropdown-toggle:empty::after {
   margin-left: 0;
 }

 .dropleft .dropdown-toggle::before {
   vertical-align: 0;
 }

 .dropdown-menu[x-placement^="top"], .dropdown-menu[x-placement^="right"], .dropdown-menu[x-placement^="bottom"], .dropdown-menu[x-placement^="left"] {
   right: auto;
   bottom: auto;
 }

 .dropdown-divider {
   height: 0;
   margin: 0.5rem 0;
   overflow: hidden;
   border-top: 1px solid #eceeef;
 }

 .dropdown-item {
   display: block;
   width: 100%;
   padding: 0.25rem 1.5rem;
   clear: both;
   font-weight: 400;
   color: #212529;
   text-align: inherit;
   white-space: nowrap;
   background-color: transparent;
   border: 0;
 }

 .dropdown-item:hover, .dropdown-item:focus {
   color: #16181b;
   text-decoration: none;
   background-color: #f8f9fa;
 }

 .dropdown-item.active, .dropdown-item:active {
   color: #ef6262;
   text-decoration: none;
   background-color: transparent;
 }

 .dropdown-item.disabled, .dropdown-item:disabled {
   color: #777777;
   background-color: transparent;
 }

 .dropdown-menu.show {
   display: block;
 }

 .dropdown-header {
   display: block;
   padding: 0.3846rem 1.5rem;
   margin-bottom: 0;
   font-size: 0.9231rem;
   color: #777777;
   white-space: nowrap;
 }

 .dropdown-item-text {
   display: block;
   padding: 0.25rem 1.5rem;
   color: #212529;
 }








 .position-static {
   position: static !important;
 }

 .position-relative {
   position: relative !important;
 }

 .position-absolute {
   position: absolute !important;
 }

 .position-fixed {
   position: fixed !important;
 }

 .position-sticky {
   position: sticky !important;
 }

 .fixed-top {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
 }

 .fixed-bottom {
   position: fixed;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1030;
 }

 @supports (position: sticky) {
   .sticky-top {
     position: sticky;
     top: 0;
     z-index: 1020;
   }
 }






 /*------------------------------------------------------------------
     [Left sidebar]
 */
 .am-left-sidebar {
   background-color: #fff;
   width: 16%;
   height: 100%;
   left: 0;
   position: absolute;
 }

 .am-left-sidebar .am-scroller-fixed-left-sidebar {
   position: relative;
   width: 100%;
   height: 100%;
 }

 .rtl .am-left-sidebar {
   left: auto;
   right: 0;
 }

 .am-left-sidebar .sidebar-elements {
   margin: 0;
   padding: 0;
 }

.am-wrapper.main-app .am-left-sidebar .sidebar-elements {
  display: block;
  float: left;
  position: relative;
  width: 100%;
}

 .am-left-sidebar .sidebar-elements > li {
   border-bottom: 1px solid #474646;
   list-style: none;
 }

 .am-left-sidebar .sidebar-elements > li > a {
   display: block;
   padding: 9px 15px 6px 10px;
   color: #000;
   text-align: left;
 }

 .am-left-sidebar .sidebar-elements > li > a .icon {
   display: block;
   font-size: 33px;
 }

 .am-left-sidebar .sidebar-elements > li > a span {
   display: block;
   margin-top: 5px;
 }

 @media (min-width: 768px) {
   .am-left-sidebar .sidebar-elements > li:hover, .am-left-sidebar .sidebar-elements > li.open {
     background-color: #424141;
   }
 }

 .am-left-sidebar .sidebar-elements > li.active > a {
   border-left: 2px solid #ef6262;
   padding-left: 13px;
 }

 .rtl .am-left-sidebar .sidebar-elements > li.active > a {
   padding-left: 15px;
   padding-right: 13px;
   border-left-width: 0;
   border-right: 2px solid #ef6262;
 }

 .am-left-sidebar .sidebar-elements > li > ul {
   display: none;
   position: fixed;
   left: 200px;
   top: 0;
   height: 100%;
   background-color: #fff;
   z-index: 1031;
   padding: 0;
   table-layout: fixed;
   list-style: none;
   width: 280px;
   box-shadow: 3px 0 10px -5px rgba(0, 0, 0, 0.4);
 }

 .rtl .am-left-sidebar .sidebar-elements > li > ul {
   left: auto;
   right: 100px;
 }

 @media (max-width: 767px) {
   .rtl .am-left-sidebar .sidebar-elements > li > ul {
     right: 0;
   }
 }

 @media (min-width: 768px) {
   .am-left-sidebar .sidebar-elements > li > ul.visible {
     display: table;
   }
   .am-left-sidebar .sidebar-elements > li > ul.hide {
     display: none;
   }
 }

 .am-left-sidebar .sidebar-elements > li > ul > li.title {
   border-bottom: 1px solid #6d6b6b;
   font-size: 18px;
   font-weight: 600;
   margin: 0 15px 0;
   padding-bottom: 18px;
   padding-top: 15px;
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items {
   display: table-row;
   height: 100%;
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller {
   position: relative;
   width: 100%;
   height: 100%;
 }

 @media (max-width: 767px) {
   .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller {
     display: block;
   }
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content {
   height: 100%;
   width: 100%;
   position: absolute;
   padding-top: 15px;
   margin-right: 0 !important;
 }

 @media screen and (min-width: 0�) {
   .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content {
     position: static;
     overflow: hidden;
   }
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul > li > a {
   padding: 12px;
   display: block;
   font-weight: 600;
   font-size: 14px;
   color: #000;
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul > li > a .badge {
   float: right;
   border-radius: 2px;
   font-weight: 400;
   line-height: 10px;
   padding: 5px 10px;
 }

 .rtl .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul > li > a .badge {
   float: left;
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul > li > a:hover, .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul > li > a:focus {
   background-color: #F8FAFA;
   color: #000;
 }

 .am-left-sidebar .sidebar-elements > li > ul > .nav-items .am-scroller .content > ul li.active > a {
   color: #f17979;
 }

 .am-left-sidebar .am-logo {
   display: none;
 }

 .am-wrapper.main-app .am-left-sidebar .am-logo {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  height: 56px;
  border-bottom: 1px solid #eaeaea;
}
.am-wrapper.main-app .am-left-sidebar .am-logo svg {
  width: 140px;
  margin-bottom: 20px;
  margin-top: 18px;
  margin-left: 12px;
}

 .am-left-sidebar:before {
   content: "";
   position: fixed;
   z-index: -1;
   width: inherit;
   top: 0;
   left: 0;
   bottom: 0;
   background-color: inherit;
 }

 .rtl .am-left-sidebar:before {
   left: auto;
   right: 0;
 }

 .am-animate .am-left-sidebar:before {
   transition: all 0.35s ease;
 }

 @media (max-width: 767px) {
   .am-left-sidebar:before {
     display: none;
   }
 }

 @media (max-width: 767px) {
   .am-left-sidebar {
     width: 85%;
     height: 100%;
     overflow: auto;
     -webkit-overflow-scrolling: touch;
     position: fixed;
     top: 0;
     transform: translate3d(-100%, 0, 0);
     z-index: 1031;
   }
   .rtl .am-left-sidebar {
     transform: translate3d(100%, 0, 0);
   }
   .am-left-sidebar .sidebar-elements > li > a {
     text-align: left;
     position: relative;
   }
   .rtl .am-left-sidebar .sidebar-elements > li > a {
     text-align: right;
   }
   .am-left-sidebar .sidebar-elements > li > a .icon {
     display: inline-block;
     font-size: 25px;
     margin-right: 10px;
     vertical-align: middle;
   }
   .rtl .am-left-sidebar .sidebar-elements > li > a .icon {
     margin-right: 0;
     margin-left: 10px;
   }
   .am-left-sidebar .sidebar-elements > li > a span {
     display: inline-block;
   }
   .am-left-sidebar .sidebar-elements > li.parent > a:after {
     content: '\e688';
     float: right;
     font-family: "Stroke 7";
     font-size: 26px;
     line-height: 28px;
     color: #a1a1a1;
   }
   .rtl .am-left-sidebar .sidebar-elements > li.parent > a:after {
     float: left;
   }
   .am-left-sidebar .sidebar-elements > li > ul {
     position: relative;
     height: auto;
     width: 100%;
     left: 0;
   }
   .am-left-sidebar .sidebar-elements > li > ul > li.title {
     display: none;
   }
   .am-left-sidebar .sidebar-elements > li > ul > li.nav-items {
     display: block;
     height: auto;
   }
   .am-left-sidebar .sidebar-elements > li > ul > li.nav-items > .am-scroller {
     height: auto;
     overflow: visible;
   }
   .am-left-sidebar .sidebar-elements > li > ul > li.nav-items > .am-scroller > .content {
     padding-top: 0;
     overflow: visible;
     position: relative;
   }
   .am-left-sidebar .sidebar-elements > li:hover {
     background-color: inherit;
   }
   .am-left-sidebar .sidebar-elements > li:hover > ul {
     display: none;
   }
   .am-left-sidebar .sidebar-elements li.open > ul {
     display: block;
   }
   .am-left-sidebar .am-logo {
     background: url("../img/logo-full.png") no-repeat 15px center;
     height: 70px;
     background-color: #393838;
     border-bottom: 1px solid #353434;
     display: block;
   }
 }

 @media -webkit-min-device-pixel-ratio and (max-width: 767px) {
   .am-left-sidebar .am-logo {
     background-image: url("../img/logo-full-retina.png");
     background-size: 150px 39px;
   }
 }

 .am-animate .am-left-sidebar {
   transition: all 0.35s ease;
 }

 .am-fixed-sidebar .am-left-sidebar {
   margin-top: 80px;
   padding-bottom: 80px;
   position: fixed;
   top: 0;
   bottom: 0;
   z-index: 1031;
 }

 @media (max-width: 767px) {
   .am-fixed-sidebar .am-left-sidebar {
     margin-top: 0;
     padding-bottom: 0;
   }
 }

 .am-fixed-sidebar .am-left-sidebar:before {
   top: 80px;
 }

 .am-fixed-sidebar .am-left-sidebar .nano-pane {
   width: 4px;
 }

 .am-fixed-sidebar .am-left-sidebar .nano-pane > .nano-slider {
   background-color: rgba(0, 0, 0, 0.15);
 }


 .main-app .ui-app-area .ui-menu-dots .btn:hover {
  background-color: transparent;
  color: #000 !important;
}

.am-content.ui-app-area .nav-lateral {
  display: block;
  float: left;
  position: relative;
  width: 18%;
}
.am-content.ui-app-area .content-lateral {
  display: block;
  float: right;
  position: relative;
  width: 82%;
}



