// Variables

/* ====================================== */
// Welcome UI Fonts

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$ui_font_small: 14px;
$ui_font_normal: 16px;

h1, h2, h3, h4 {
  font-family: 'gt-eesti-regular';
}
.ui-app-area {
  font-family: 'hk_groteskmedium';
}
.ui-app-area strong {
  font-family: 'hk_groteskbold';
}

/* ====================================== */
// Welcome UI Colors

$ui_back:          #000000 !important;
$ui_white:         #ffffff !important;
$ui_blue:          #4A8FE7 !important;
$ui_red:           #ff0000 !important;
$ui_green:         #28A745 !important;
$ui_darkgray:      #9C9C9C !important;
$ui_middlegray:    #F2F2F2 !important;
$ui_lightgray:     #D9D9D9 !important;
$ui_lightergray:   #FAFAFA !important;
$ui_fill:          #F8F8F8 !important;

$ui-colors: () !default;
$ui-colors: map-merge(
  (
    "ui-black":         $ui_back,
    "ui-white":         $ui_white,
    "ui_blue":          $ui_blue,
    "ui_green":         $ui_green,
    "ui_red":           $ui_red,
    "ui_darkgray":      $ui_darkgray,
    "ui_middlegray":    $ui_middlegray,
    "ui_lightgray":     $ui_lightgray,
    "ui_lightergray":   $ui_lightergray,
    "ui_fill":          $ui_fill
  ),
  $ui-colors
);

$ui-radius: .25rem !important;

/* ====================================== */
// Welcome UI - Margin & Padding

$sm-margintop: 10px;
$sm-marginbottom: 10px;

$md-margintop: 30px;
$md-marginbottom: 30px;

$lg-margintop: 60px;
$lg-marginbottom: 60px;

$md-paddingtop: 30px;
$md-paddingbottom: 30px;

$lg-paddingtop: 60px;
$lg-paddingbottom: 60px;

/* ====================================== */

.ui-app-area h4 {
  font-size: 20px;
}

.land-app, .main-app {
  background-color: $ui_lightergray;
}
.land-app .main-btns .ui-menu-dots {
  display: block;
  float: right;
}
.ui-app-area {
  padding: 22px 20px;
}
.am-left-sidebar .sidebar-elements > li > ul {
  left: 16% !important;
}

/* ====================================== */

.am-wrapper.main-app .menu-app {
  width: 16%;
}
.am-wrapper.main-app .navbar {
  background-color: $ui_white;
  height: 58px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.05%);
}
.am-wrapper.main-app .ui-app-area {
  padding: 15px;
  width: 84%;
  float: right;
  background-color: #fafafa !important;
}
.am-wrapper.main-app .ui-app-area .main-content,
.am-wrapper.main-app .ui-app-area .page-head {
  padding: 20px;
}
.am-navbar-header .page-title img {
  width: 84px;
  margin-left: -26px;
  margin-top: -10px;
}
.admin-options .collapse,
.admin-options .nav {
  display: block !important;
  float: right;
  margin-left: 6px;
}
.admin-options .dropdown-toggle::after {
  display: none;
}
.admin-options .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -80px;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 100px;
  padding: 6px;
  margin: 0.1538rem 0 0;
  font-size: 13px;
  color: #555555;
  text-align: right;
  list-style: none;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0;
}
.admin-options .dropdown-menu a {
  color: $ui_back;
}

/* ====================================== */

.am-login img {
  width: 128px;
  display: block;
  margin-bottom: 12px;
}
.login-container .card-header {
  background-color: $ui_back;
  color: $ui_white;
}
.login-container .card-body {
  padding: 35px 35px 20px;
}
.login-container .btn-block {
  display: block;
  width: auto;
  margin: 0 auto;
  border: none;
  font-family: gt-eesti-medium;
  color: #fff;
  padding: 8px 40px;
  border-radius: 100px;
  font-size: 18px !important;
  font-family: gt-eesti-medium !important;
}
.login-container .input-group-text {
  display: none;
}
.login-container .form-group.footer.row {
  margin-top: 30px;
  border-top: 1px solid #d9d9d9;
  padding-top: 20px;
  margin-bottom: 0;
}
.login-container .form-control {
  height: 42px;
  border: 1px solid #b2b2b2;
}
.main-app .dashboard-box {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
}
.main-app .dashboard-area {
  padding: 30px;
}
.main-app .dashboard-area .data-info .value {
  font-weight: 600;
  font-size: 22px;
}

.am-left-sidebar .sub-menu {
  position: relative !important;
  height: auto;
  width: auto;
  left: 0 !important;
  table-layout: auto;
  top: auto;
  display: block;
}
.am-left-sidebar .sub-menu .title {
  display: none;
}
.am-left-sidebar .sub-menu .nav-items {
  display: block;
  float: left;
  position: relative;
  height: auto;
  width: 100%;
  padding: 0 0 0 30px;
}
.am-left-sidebar .sidebar-elements > li > ul >
.nav-items .am-scroller .content {
  position: relative !important;
  padding-top: 0 !important;
}
.am-left-sidebar .sidebar-elements > li > ul {
  left: 0% !important;
  box-shadow: none !important;
  width: 100% !important;
}
.am-left-sidebar .sidebar-elements > li:hover,
.am-left-sidebar .sidebar-elements > li.open {
  background-color: #fff !important;
}
.am-left-sidebar .sidebar-elements > li {
  border-bottom: none !important;
  list-style: none;
}
.main-app .navbar .title .badge {
  font-size: 13px !important;
}

.am-left-sidebar .parent .list-group-item {
  background-image: url("https://land.welcomehomes.com/assets/icons/icn-submenu-cf0fa33c4c7e45be386bde2e5d9cf8b5297cf24558243549ff5b308a988f8af1.svg");
  background-repeat: no-repeat;
  background-position: right 10px top 18px;
}
.am-left-sidebar .parent.open .list-group-item {
  background-image: url("https://land.welcomehomes.com/assets/icons/icn-submenu-close-c4f6ca0fdef472f702d123f11b746478f1820ccb4051671984fea27e64f51d0a.svg");
}
.list-group-item:first-child {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}